# Dependencies
**/node_modules/
**/package-lock.json
**/yarn.lock
**/bun.lockb

# Environment Variables
**/.env
**/.env.local

# Build Outputs
**/dist/
**/build/
**/.next/

# IDE & OS Files
.vscode/
.idea/
.DS_Store
*.swp